{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'portfolio/styles.css' %}" />
  </head>
  <body class="">
    <div class="bg-accent1 min-h-screen flex flex-col overflow-y-auto">
      <header
        class="h-auto py-6 bg-accent12 border-4 border-accent32 flex justify-evenly items-center"
      >
        <div class="flex justify-evenly">
          <a href="{% url 'index' %}">
            <!--FIXME: I should use the initials of the name of the user, instead of hardcoding for API-->
            <h1 class="text-7xl font-bold text-accent2">&lt;vc&sol;&gt;</h1>
          </a>
          <!--TODO: implement the language change feature over here-->
          <a href="#" class="rounded-full"></a>
          <a href="#" class="rounded-full"></a>
        </div>
        <nav>
          <ul class="flex space-x-8 text-2xl text-accent2">
            <li>
              <a href="{% url 'index' %}" class="hover:text-accent22 underline"
                >HOME</a
              >
            </li>
            <li>
              <a href="{% url 'skills' %}" class="hover:text-accent22 underline"
                >SKILLS</a
              >
            </li>
            <li>
              <a
                href="{% url 'portfolio' %}"
                class="hover:text-accent22 underline"
                >PORTFOLIO</a
              >
            </li>
            <li>
              <a
                href="{% url 'projects' %}"
                class="hover:text-accent22 underline"
                >PROJECTS</a
              >
            </li>
            <li>
              <a
                href="{% url 'contact' %}"
                class="hover:text-accent22 underline"
                >CONTACT</a
              >
            </li>
          </ul>
        </nav>
      </header>
      <main class="grow">{% block content %}{% endblock %}</main>
      <footer class="bg-accent12 border-4 border-accent32">
        <div class="">
          <div class="p-2 px-4 text-accent2">
            <!--NOTE: DO NOT REMOVE THIS LINE, THIS WILL BE CONSIDERED AS A DISAGREEMENT WITH THE VCPORTFOLIO API'S LICENSE.-->
            <!--FIXME: I should replace the link with the link to the VCPortfolio API-->
            <p class="">
              >>> print("Made with ❤️ and with
              <a
                href="https://github.com/WitteDuivel/Portfolio"
                target="_blank"
                class="hover:text-accent22 underline"
                >VCPortfolio API</a
              >.")
            </p>
            <p class="">
              >>> print("Inspiration from
              <a
                href="https://luigicaradonna.it/"
                target="_blank"
                rel="noopener noreferrer"
                class="hover:text-accent22 underline"
                >Luigi Caradonna</a
              >.")
            </p>
            <!--NOTE: Only remove this line if you did not use this color palette generator-->
            <p>
              >>> print("Color palette generated by
              <a
                href="https://huemint.com/"
                target="_blank"
                class="hover:text-accent22 underline"
                >Huemint</a
              >")
            </p>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
